<br>

<h1>Result</h1>

<br>

<% @word_letters.each do |letter| %>
  <% if @letters.include?(letter) == false %>
    Sorry but <b><%= @word %></b> can't be built out of <%= @letters.join(",") %>
  <% elsif @english_words["error"] == "word not found" %>
    Sorry but <b><%= @word %></b> does not seem to be a valid English word...
  <% else %>
    <b>Congratulations!</b> <%= @word %> is a valid English word!
  <% end %>
  <% break %>
<% end %>
<br>

<%= link_to "Play again", new_path %>
